.univers {
    top:25%;
}

.rowstyle {
    width:100%;
    margin-top: 11px;
}

.wrapper {
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
  }
  * {box-sizing: border-box;}
  .wrapper {
    background-color: white;
  }
  